@page "/payment/failed"
@using BlazorApp1.Data.Services
@using BlazorApp1.Data.Models
@inject NavigationManager NavigationManager;


<h1>НЕУСПЕШНО ПЛАЩАНЕ</h1>


@code {
    protected override void OnInitialized()
    {
    }
}
